{{ define "main" }}

<section class="home-sect">
    <div class="bgblack">
        <div class="content">
            <h2>Your body is <br> not a temple. <br> <span class="bold">It’s home.</span></h2>
        </div>
    </div>
    <div class="img">
        <div class="content">
            <img src="/images/58.png" alt="site logo" class="home-img">
        </div>
    </div>
    <div class="bgorange">
        <div class="content">
            <h3>Get The Nomadic Workout</h3>
            <p class="home-p">Lorem ipsum dolor sit amet consectetur adipisicing elit Optio vero quaerat.<br> <span> illo recusandae dolorum beatae ullam harum.</span></p>
        </div>
        <div class="forum">
            <form action="">
                <input type="text" placeholder="First Name" class="input-box">
                <input type="email" placeholder="Email Address" class="input-box">
                <select name="personality" id="personality" class="input-box">
                    <option value="describe you">Which of these describe you the best?</option>
                    <option value="train.">I train.</option>
                    <option value="inspiring trainer.">I'm an inspiring trainer.</option>
                    <option value="trainer.">I'm a trainer.</option>
                </select>
                <button class="input-box home-button">Subscribe Now</button>
            </form>
        </div>
    </div>
</section>
{{ end }}